![star_wars_unsplash](star_wars_unsplash.jpg)

Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.

The introduction of its first licensed series, Star Wars, was a hit that sparked a series of collaborations with more themed sets. The partnerships team has asked you to perform an analysis of this success, and before diving into the analysis, they have suggested reading the descriptions of the two datasets to use, reported below.

## The Data

You have been provided with two datasets to use. A summary and preview are provided below.

## lego_sets.csv

| Column     | Description              |
|------------|--------------------------|
| `"set_num"` | A code that is unique to each set in the dataset. This column is critical, and a missing value indicates the set is a duplicate or invalid! |
| `"name"` | The name of the set. |
| `"year"` | The date the set was released. |
| `"num_parts"` | The number of parts contained in the set. This column is not central to our analyses, so missing values are acceptable. |
| `"theme_name"` | The name of the sub-theme of the set. |
| `"parent_theme"` | The name of the parent theme the set belongs to. Matches the name column of the parent_themes csv file.
|

## parent_themes.csv

| Column     | Description              |
|------------|--------------------------|
| `"id"` | A code that is unique to every theme. |
| `"name"` | The name of the parent theme. |
| `"is_licensed"` | A Boolean column specifying whether the theme is a licensed theme. |

In [59]:
# Import pandas, read and inspect the datasets
import pandas as pd

lego_sets = pd.read_csv('data/lego_sets.csv')
lego_sets.head()

  set_num                        name  ...    theme_name  parent_theme
0    00-1             Weetabix Castle  ...        Castle      Legoland
1  0011-2           Town Mini-Figures  ...  Supplemental          Town
2  0011-3  Castle 2 for 1 Bonus Offer  ...  Lion Knights        Castle
3  0012-1          Space Mini-Figures  ...  Supplemental         Space
4  0013-1          Space Mini-Figures  ...  Supplemental         Space

[5 rows x 6 columns]

In [60]:
parent_themes = pd.read_csv('data/parent_themes.csv')
parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [61]:
#drop the rows with missing values
lego_sets_clean = lego_sets.dropna(subset=['set_num', 'name', 'theme_name'])
lego_sets_clean.head()

  set_num                        name  ...    theme_name  parent_theme
0    00-1             Weetabix Castle  ...        Castle      Legoland
1  0011-2           Town Mini-Figures  ...  Supplemental          Town
2  0011-3  Castle 2 for 1 Bonus Offer  ...  Lion Knights        Castle
3  0012-1          Space Mini-Figures  ...  Supplemental         Space
4  0013-1          Space Mini-Figures  ...  Supplemental         Space

[5 rows x 6 columns]

In [62]:
# merging the logo_set df with parent_themes df 
licensed_themes = parent_themes[parent_themes['is_licensed']]['name']
licensed_themes.head()

7                    Star Wars
12                Harry Potter
16    Pirates of the Caribbean
17               Indiana Jones
18                        Cars
Name: name, dtype: object

In [63]:
#filtering the licensed sets
licensed = lego_sets_clean['parent_theme'].isin(licensed_themes)
licensed_sets = lego_sets_clean[licensed]
licensed_sets.head()

    set_num  ...  parent_theme
44  10018-1  ...     Star Wars
45  10019-1  ...     Star Wars
54  10026-1  ...     Star Wars
57  10030-1  ...     Star Wars
95  10075-1  ...  Super Heroes

[5 rows x 6 columns]

In [64]:
#calculate the percentage of licensed sets that are star wars theme
all_sets = len(licensed_sets)
star_wars_sets = len(licensed_sets[licensed_sets['parent_theme'] =='Star Wars'])
ratio = star_wars_sets / all_sets
the_force  = int(ratio * 100)
print(f"The percentage of licensed sets that are star wars theme is {the_force}%.")

The percentage of licensed sets that are star wars theme is 51%.

In [65]:
star_wars_release = pd.pivot_table(licensed_sets,values='set_num',index = 'year', columns='parent_theme', aggfunc='count')
star_wars_release.head()

parent_theme  Angry Birds  Avatar  ...  The Lone Ranger  Toy Story
year                               ...
1999                  NaN     NaN  ...              NaN        NaN
2000                  NaN     NaN  ...              NaN        NaN
2001                  NaN     NaN  ...              NaN        NaN
2002                  NaN     NaN  ...              NaN        NaN
2003                  NaN     NaN  ...              NaN        NaN

[5 rows x 22 columns]

In [66]:
sorted_sets = star_wars_release.sort_values(by='Star Wars', ascending=False)['Star Wars']
sorted_sets

year
2016    61.0
2015    58.0
2017    55.0
2014    45.0
2012    43.0
2009    39.0
2013    35.0
2003    32.0
2011    32.0
2010    30.0
2002    28.0
2005    28.0
2000    26.0
2008    23.0
2004    20.0
2007    16.0
2001    14.0
1999    13.0
2006    11.0
Name: Star Wars, dtype: float64

In [67]:
# return the index element of the sorted sets to get the year with most sets release
new_era = sorted_sets.index[0]
new_era

2016